// Fuentes
$fuente_principal: 'Exo 2', sans-serif;

// Tamaños de Media Queries
$telefonoSM: 480px;
$telefonoM: 576px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;

// Colores
$fondo: #F2F2F2;
$negro: #0D0D0D;
$dorado: #F3AE08;
$verde: #14A647;
$blanco: #FFFFFF;
$gris: #E1E1E1;
$grisOscuro: #333333;

// 1. Paleta Clásica y Elegante
// Gris oscuro (para textos secundarios o botones): #3A3A3A
// Blanco suave (para fondos claros o contrastes): #F2F2F2


// 2. Paleta Minimalista Moderna
// Gris pizarra oscuro (para fondos o títulos): #2E2E2E


// 4. Paleta Sobria y Profesional
// Gris oscuro profundo (para fondos): #343A40


$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900